In [1]:
import yfinance as yf
tw2330 = yf.download('2330.TW',start='2024-01-01',end='2024-06-01',auto_adjust=True)
tw2303 = yf.download('2303.TW',start='2024-01-01',end='2024-06-01',auto_adjust=True)
tw2454 = yf.download('2454.TW',start='2024-01-01',end='2024-06-01',auto_adjust=True)
tw2317 = yf.download('2317.TW',start='2024-01-01',end='2024-06-01',auto_adjust=True)
tw2317

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Price            Close        High         Low        Open     Volume
Ticker         2317.TW     2317.TW     2317.TW     2317.TW    2317.TW
Date
2024-01-02  102.375000  102.375000  101.400000  101.887500   19921105
2024-01-03  101.887505  102.375005  101.400005  101.887505   18957682
2024-01-04  101.400002  102.375002  101.400002  101.887502   15488559
2024-01-05  101.400002  101.887502  101.400002  101.400002   13349572
2024-01-08   98.962502  101.400002   98.962502  100.912502   34642006
...                ...         ...         ...         ...        ...
2024-05-27  180.375000  180.375000  174.037500  174.525000  113997157
2024-05-28  180.862503  181.350003  178.912503  180.862503   67804130
2024-05-29  175.987503  181.350003  175.987503  180.862503   75213627
2024-05-30  172.087509  175.012509  171.600009  172.575009   78702491
2024-05-31  167.699997  174.524997  167.699997  172.574997  147141860

[98 rows x 5 columns]

In [2]:
tw2330

Price        Close    High     Low    Open    Volume
Ticker     2330.TW 2330.TW 2330.TW 2330.TW   2330.TW
Date
2024-01-02   593.0   593.0   589.0   590.0  26059058
2024-01-03   578.0   585.0   576.0   584.0  37106763
2024-01-04   580.0   581.0   577.0   580.0  15309129
2024-01-05   576.0   580.0   574.0   578.0  18158971
2024-01-08   583.0   585.0   579.0   582.0  17761275
...            ...     ...     ...     ...       ...
2024-05-27   869.0   878.0   866.0   872.0  26726954
2024-05-28   865.0   873.0   865.0   867.0  25329216
2024-05-29   857.0   868.0   856.0   861.0  33436835
2024-05-30   838.0   848.0   838.0   841.0  38065102
2024-05-31   821.0   846.0   821.0   838.0  77438401

[98 rows x 5 columns]

In [ ]:
tw2330['Close']['2330.TW']
tw2330['Close','2330.TW']#相同的運算式

Date
2024-01-02    593.0
2024-01-03    578.0
2024-01-04    580.0
2024-01-05    576.0
2024-01-08    583.0
              ...
2024-05-27    869.0
2024-05-28    865.0
2024-05-29    857.0
2024-05-30    838.0
2024-05-31    821.0
Name: (Close, 2330.TW), Length: 98, dtype: float64

In [3]:
tw2330_s = tw2330['Close']['2330.TW']
tw2303_s = tw2303['Close']['2303.TW']
tw2454_s = tw2454['Close']['2454.TW']
tw2317_s = tw2317['Close']['2317.TW']

In [6]:
import pandas as pd
pd.DataFrame({"台積電":tw2330_s,"聯電":tw2303_s,"聯發科":tw2454_s,"鴻海":tw2317_s})

              台積電         聯電          聯發科          鴻海
Date
2024-01-02  593.0  51.900002   915.833191  102.375000
2024-01-03  578.0  50.599998   889.693176  101.887505
2024-01-04  580.0  50.799999   889.309875  101.400002
2024-01-05  576.0  50.799999   882.601685  101.400002
2024-01-08  583.0  50.500000   881.643372   98.962502
...           ...        ...          ...         ...
2024-05-27  869.0  56.599998  1231.425903  180.375000
2024-05-28  865.0  56.400002  1255.383545  180.862503
2024-05-29  857.0  55.900002  1236.217407  175.987503
2024-05-30  838.0  55.799999  1236.217407  172.087509
2024-05-31  821.0  55.000000  1183.510498  167.699997

[98 rows x 4 columns]

In [7]:
import pandas as pd
df_price = pd.DataFrame({"台積電":tw2330_s,"聯電":tw2303_s,"聯發科":tw2454_s,"鴻海":tw2317_s})
df_price

              台積電         聯電          聯發科          鴻海
Date
2024-01-02  593.0  51.900002   915.833191  102.375000
2024-01-03  578.0  50.599998   889.693176  101.887505
2024-01-04  580.0  50.799999   889.309875  101.400002
2024-01-05  576.0  50.799999   882.601685  101.400002
2024-01-08  583.0  50.500000   881.643372   98.962502
...           ...        ...          ...         ...
2024-05-27  869.0  56.599998  1231.425903  180.375000
2024-05-28  865.0  56.400002  1255.383545  180.862503
2024-05-29  857.0  55.900002  1236.217407  175.987503
2024-05-30  838.0  55.799999  1236.217407  172.087509
2024-05-31  821.0  55.000000  1183.510498  167.699997

[98 rows x 4 columns]