In [17]:
from dataclasses import dataclass

@dataclass
class Student:
    name:str
    chinese:int
    english:int
    math:int

    @property
    def total(self)->int:
        return self.chinese + self.english + self.math

    def average(self)->float:
        return round(self.total / 3.0,ndigits=2)

In [19]:
stu1 = Student(name='robert',chinese=89, english=78, math=92)
print(type(stu1))
print(stu1.name, stu1.chinese, stu1.english, stu1.math)
print(stu1.total)
print(stu1.average())

<class '__main__.Student'>
robert 89 78 92
259
86.33

In [5]:
stu2 = Student(name='jenny', chinese='76', english='87', math='89')
type(stu2)
stu2.name, stu2.chinese, stu2.english, stu2.math

('jenny', '76', '87', '89')