In [ ]:
from dataclasses import dataclass

@dataclass
class Student:
    name:str
    chinese:int
    english:int
    math:int #attribute

    @property
    def total(self)->int: #self 代表實體
        return self.chinese + self.english + self.math

In [ ]:
stu1 = Student(name='robert', chinese='89', english='78', math='92')
print(type(stu1))
print(stu1.name, stu1.chinese, stu1.english, stu1.math)
stu1.total

('robert', '89', '78', '92')

In [5]:
stu2 = Student(name='jenny', chinese='76', english='87', math='89')
type(stu2)
stu2.name, stu2.chinese, stu2.english, stu2.math

('jenny', '76', '87', '89')